.container{
    width: 100%;
    height: 135px;
    border: 1px solid  rgb(229, 229, 229);
    border-radius: 10px;
    position: relative;
    top: 15px;
    margin-bottom: 50px;
}
.top{
    display: flex;
    justify-content: space-between;
    margin: 20px 20px;
    font-size: 18px;
    color: rgb(60, 60, 60);
}
.top:nth-child(2){
    font-weight: 600;
}
.bottom{
    display: flex; 
    justify-content: space-between;
    margin: 0px 50px 0px 20px;
}
.bottom p{
    max-width: 130px;
}
.bottom div {  
    display: flex;  
    align-items: center;
}
svg{
    font-size: 30px;
}

.bottom .gear, .include, .import, .phone{
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: peachpuff;
    border-radius: 50%;
    margin-right: 25px;
}
.gear{
    color: rgb(28, 28, 84);
    background-color:  rgb(179, 203, 245) !important;
}
.include{
    color:rgb(140, 9, 9);
    background-color:  pink !important;
}
.import{
    color:green;
    background-color:  rgba(0, 128, 0, 0.407) !important;
}