*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.mail{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid  rgb(229, 229, 229);
    margin: 10px 0px 10px 0;
    padding-bottom: 10px;
    font-size: 19px;
    font-weight: 500;
}
.mail div{
    display: flex;
    align-items: center;
    gap: 10px;
}
.mail .bi{
    height: 12px;
}
.mail .child2, .mail .child3{
    color: rgb(159, 159, 159) !important;
    /* font-weight: bold; */
}
.day{
    font-size: 15px !important;
}